.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/* Portrait */
@media only screen and (max-width: 414px) {
  .app {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* Landscape */
@media only screen and (min-width: 568px) {
  .app {
    padding: 0 !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .app {
    padding: 0 !important;
  }
}
